#leftBar
{
/*	background: red;
	width: 400px;*/
}

#epilogesKatigorias
{
/*	background: green;
	margin: auto;
	width: 200px;*/
}

.odigia
{
/*	color: white;
	font-size: 12px;
	font-style: italic;*/
}

.margin5top
{
	margin-top: 5px;
}

.margin-10top
{
	margin-top: -10px;
}


.margin-20top
{
	margin-top: -20px;
}
.margin-40top
{
	margin-top: -40px;
}

.pagefooter {
	position:fixed;
	bottom:0px;
	width: 100%;
}

