html,body, #apantiseis{
	/* height:100% */
}
#leftBar
{
/*	background: red;
	width: 400px;*/
}

#epilogesKatigorias
{
/*	background: green;
	margin: auto;
	width: 200px;*/
}

.odigia
{
/*	color: white;
	font-size: 12px;
	font-style: italic;*/
}

.margin5top
{
	margin-top: 5px;
}

.margin-10top
{
	margin-top: -10px;
}


.margin-20top
{
	margin-top: -20px;
}
.margin-40top
{
	margin-top: -40px;
}

.pagefooter {
	position:fixed;
	bottom:0px;
	width: 100%;
}

#options:hover{
	background:red;
}

#keimenoInfo, #keimenoText{
	background-color:#fff;
	font-family:Consolas,"courier new";
	font-size:16px;
	margin-top:16px!important;
	margin-bottom:16px!important;
	width:70%;
	margin:auto;
	padding: 8px 12px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.86);
}

#keimenoText {
	background-color: #fdf5e6;
	font-family: Verdana,sans-serif;
	font-size: 18px;
	width:90%;
}
